{% extends 'layout.html' %}

{% block body %}
	<div>
		<form method="POST" action="/addIsotope">
			<table class="table">
				<thead>
					<tr>
						<div>
							<b>&nbsp;Dodawanie nowych danych izotopowych: &nbsp</b>
							<input type="submit" value="Zapisz nowe dane">&nbsp;lub <b><a href="javascript:history.back()"><button type="button">Anuluj</button></b> &nbsp
						</div>
					</tr>
					<tr>
						<th>#</th>
						<th>Pole</th>
						<th>Wartość</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
  				<tbody>
  				  <tr>
					  <td>1</td>
					  <td>Nr Kopalni</td>
					  <td><input type="text" name="nr_kopalni"></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
  				  </tr>
				  <tr>
					  <td>2</td>
					  <td>Nr Zjawiska</td>
					  <td><input type="text" name="nr_zjawiska"></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
  				  </tr>
				  <tr>
					  <td>3</td>
					  <td>Data poboru</td>
					  <td><input type="text" name="data_poboru" value=""> <font color="grey">format: (RRRR-MM-DD)</font></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
  				  </tr>
				  <tr>
					  <td>4</td>
					  <td>CaMg</td>
					  <td><input type="text" name="camg"></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
  				  </tr>
				  <tr>
					  <td>5</td>
					  <td>NaK</td>
					  <td><input type="text" name="nak"></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
  				  </tr>
				  <tr>
					  <td>6</td>
					  <td>δ18O</td>
					  <td><input type="text" name="d18o"> <font color="grey">Wartości powinny być oddzielone spacją np. "-2.4 -2.5"</font></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
  				  </tr>
				  <tr>
					  <td>7</td>
					  <td>δD</td>
					  <td><input type="text" name="dd"> <font color="grey">Wartości powinny być oddzielone spacją np. "-2.4 -2.5"</font></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
					  <td></td>
  				  </tr>
				</tbody>
			</table>
		</form>
	</div>
{% endblock %}
