{% extends 'layout.html' %}

{% block body %}
<script src="{{ url_for('static', filename = 'Chart.min.js') }}"></script>
</br>
<div>
	<form method="POST" action="/charts">
		&nbsp; Nr zjawiska: <input type="text" name="event" value="{{event}}">
		&nbsp; Poziom: <input type="text" name="level" value="{{level}}"></br>
		&nbsp; Od daty: <input type="text" name="fromDate" value="{{fromDate}}"> do daty <input type="text" name="toDate" value="{{toDate}}"> (format daty RRRR-MM-DD).
		&nbsp;<input type="submit" value="Rysuj!">
	</form>
</div>

<hr>

{% if data is defined %}

<div>
<canvas id="chemistry-chart" ></canvas>
</div>
</br><hr><hr></br>
<div>
<canvas id="isotope-chart" ></canvas>
</div>
</br></br>


<script>
new Chart(document.getElementById("chemistry-chart"), {
  type: 'scatter',
 data: {
 		labels: [{% for point in delta %}"{{point.nr_probki}} ({{point.nr_zjawiska}}/{{point.poziom}})",{% endfor %},"" ],
        datasets: [{
            label: 'Dane chemiczne',
            data: [
            {% for point in data %}
            {
                x: {{point.x}},
                y: {{point.y}},
            },
            {% endfor %}
            ],
            borderColor: "#000000",
            backgroundColor: "#FF0000",
            pointRadius: 5,
            pointHoverRadius: 8
        },
        {
            label: 'Linia równowagi',
            data: [
            {% for point in constChemDataPoints %}
            {
                x: {{point.x}},
                y: {{point.y}},
            },
            {% endfor %}
            ],
            borderColor: "#000000",
            backgroundColor: "#000000",
            pointRadius: 5,
            pointStyle: "star",
            pointHoverRadius: 7
        },
        ]
    },
    options: {
    	tooltips: {
     		callbacks: {
        		label: function(tooltipItem, data) {
        			if (tooltipItem.datasetIndex === 0) {
               			var label = data.labels[tooltipItem.index];
               			return label + ':\n Na+K:' + tooltipItem.xLabel + ', Ca+Mg:' + tooltipItem.yLabel;
               			}
               		else {
               			return 'Linia równowagi (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
               		}
            	}
     		}
		},
    	title: {
            display: true,
            text: 'Wykres danych chemicznych',
            fontSize: 18,
            fontColor: '#000000'
        },
        legend: {
    		display: true
    	},
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom',
                scaleLabel: {
        			display: true,
        			labelString: 'Stężenie Na + K w [mol/kg] H2O wyliczone z soli',
        			fontSize: 14,
            		fontColor: '#000000',
            		fontStyle: "bold",
      			},
      			ticks: {
      				min: 0,
      				max: 8
      			},
      			gridLines: {
  					color: "#000000",
  					zeroLineColor: "#000000",
  					zeroLineWidth: 3
				}
            }],
            yAxes: [{
                scaleLabel: {
        			display: true,
        			labelString: 'Stężenie Ca + Mg w [mol/kg] H2O wyliczone z soli',
        			fontSize: 14,
            		fontColor: '#000000',
            		fontStyle: "bold",
      			},
      			ticks: {
      				min: 0,
      				max: 7
      			},
      			gridLines: {
  					color: "#000000",
  					zeroLineColor: "#000000",
  					zeroLineWidth: 3
				}
            }]
        }
    }
});
</script>
<script>
new Chart(document.getElementById("isotope-chart"), {
  type: 'scatter',
 data: {
 		labels: [{% for point in delta %}"{{point.nr_probki}} ({{point.nr_zjawiska}}/{{point.poziom}})",{% endfor %},"" ],
        datasets: [{
            label: 'Dane Izotopwe',
            data: [
            {% for point in delta %}
            {
                x: {{point.x}},
                y: {{point.y}}
            },
            {% endfor %}
            ],
            borderColor: "#000000",
            backgroundColor: "#FF0000",
            pointRadius: 5,
            pointHoverRadius: 8,
        },
        {	label: 'WMWL',
            data: [
            {% for point in wmwl %}
            {
                x: {{point.x}},
                y: {{point.y}}
            },
            {% endfor %}
            ],
            borderColor: "#000000",
            backgroundColor: "#000088",
            pointRadius: 4,
            pointStyle: 'star',
            pointHoverRadius: 8,
        },
        {	label: 'Jęzor',
            data: [
            {% for point in jezor %}
            {
                x: {{point.x}},
                y: {{point.y}}
            },
            {% endfor %}
            ],
            borderColor: "#ff8000",
            backgroundColor: "#ff8000",
            pointRadius: 4,
            pointStyle: 'rectRot',
            pointHoverRadius: 8,
        },
        {	label: 'Górne Parowanie',
            data: [
            {% for point in gorneParowanie %}
            {
                x: {{point.x}},
                y: {{point.y}}
            },
            {% endfor %}
            ],
            borderColor: "#00EEEE",
            backgroundColor: "#00EEEE",
            pointRadius: 4,
            pointStyle: 'star',
            pointHoverRadius: 8,
        },
        {	label: 'Dolne parowanie',
            data: [
            {% for point in dolneParowanie %}
            {
                x: {{point.x}},
                y: {{point.y}}
            },
            {% endfor %}
            ],
            borderColor: "#EE00EE",
            backgroundColor: "#EE00EE",
            pointRadius: 4,
            pointStyle: 'star',
            pointHoverRadius: 8,
        },
        {	label: 'Koncowe parowanie',
            data: [
            {% for point in koncoweParowanie %}
            {
                x: {{point.x}},
                y: {{point.y}}
            },
            {% endfor %}
            ],
            borderColor: "#00AA00",
            backgroundColor: "#00AA00",
            pointRadius: 4,
            pointStyle: 'star',
            pointHoverRadius: 8,
        },
        {	label: 'Jęzor2',
            data: [
            {% for point in jezor2 %}
            {
                x: {{point.x}},
                y: {{point.y}}
            },
            {% endfor %}
            ],
            borderColor: "#ff8000",
            backgroundColor: "#EEEE00",
            pointRadius: 4,
            pointStyle: 'rectRot',
            pointHoverRadius: 8,
        },
        {	label: 'SMOW',
            data: [
            {
                x: {{smow.x}},
                y: {{smow.y}}
            }
            ],
            borderColor: "#000000",
            backgroundColor: "#AAAAAA",
            pointRadius: 8,
            pointStyle: 'rectRot',
            pointHoverRadius: 8,
        },
        ]
    },
    options: {
		tooltips: {
     		callbacks: {
        		label: function(tooltipItem, data) {
        			if (tooltipItem.datasetIndex === 0) {
               			var label = data.labels[tooltipItem.index];
               			return label + ':\n δ18O:' + tooltipItem.xLabel + ', δ2H:' + tooltipItem.yLabel;
               			}
               		else if (tooltipItem.datasetIndex === 1)
               			{
               			return 'WMWL (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
               			}
					else if (tooltipItem.datasetIndex === 2)
               			{
               			return 'Jęzor (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
               			}
					else if (tooltipItem.datasetIndex === 3)
               			{
               			return 'Górne parowanie (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
               			}
					else if (tooltipItem.datasetIndex === 4)
               			{
               			return 'Dolne parowanie (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
               			}
					else if (tooltipItem.datasetIndex === 5)
               			{
               			return 'Końcowe parowanie (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
               			}
					else if (tooltipItem.datasetIndex === 6)
               			{
               			return 'Jezor2 (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
               			}
               		else
               			{
               			return 'SMOW (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
               			}
            	}
     		}
		},
    	title: {
            display: true,
            text: 'Wykres danych izotopwych',
            fontSize: 18,
            fontColor: '#000000'
        },
    	legend: {
    		display: true
    	},
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom',
                scaleLabel: {
        			display: true,
        			labelString: 'δ18O [%] SMOW',
        			fontSize: 14,
            		fontColor: '#000000',
            		fontStyle: "bold",
      			},
      			ticks: {
      				min: -13,
      				max: 13,
      				stepSize: 2
      			},
      			gridLines: {
  					color: "#444444",
  					zeroLineColor: "#000000",
  					zeroLineWidth: 2
				}
            }],
            yAxes: [{
                scaleLabel: {
        			display: true,
        			labelString: 'δ2H [%] SMOW',
        			fontSize: 14,
            		fontColor: '#000000',
            		fontStyle: "bold",
      			},
      			ticks: {
      				min: -90,
      				max: 20,
      				stepSize: 10
      			},
      			gridLines: {
  					color: "#444444",
  					zeroLineColor: "#000000",
  					zeroLineWidth: 2
				}
            }]
        }
    }
});

function getNrProbki(tooltipItem, datasets) {
    return datasets[tooltipItem.datasetIndex].data.find(datum => {
        return datum.x === tooltipItem.xLabel && datum.y === tooltipItem.yLabel;
    }).nr_probki;
}
</script>
{% endif %}

{% endblock %}
