{% extends 'layout.html' %}

{% block body %}
<script src="{{ url_for('static', filename = 'Chart.min.js') }}"></script>
</br>
<div>
	<form method="POST" action="/charts">
		&nbsp; Nr zjawiska: <input type="text" name="event" value="{{event}}">
		&nbsp; Poziom: <input type="text" name="level" value="{{level}}"></br>
		&nbsp; Rok: <input type="text" name="year" value="{{year}}">
		&nbsp;<input type="submit" value="Rysuj!"> (Stężenie Ca + Mg w [mol/kg] H2O wyliczone z soli || Stężenie Na + K w [mol/kg] H2O wyliczone z soli)
	</form>
</div>

<hr>

{% if data is defined %}

<div>
<canvas id="chemistry-chart" ></canvas>
</div>
</br><hr><hr></br>
<div>
<canvas id="isotope-chart" ></canvas>
</div>
</br></br>


<script>
new Chart(document.getElementById("chemistry-chart"), {
  type: 'scatter',
 data: {
        datasets: [{
            label: 'Scatter Dataset',
            data: [
            {% for point in data %}
            {
                x: {{point.x}},
                y: {{point.y}},
            },
            {% endfor %}
            ],
            borderColor: "#000000",
            backgroundColor: "#FF0000",
        }]
    },
    options: {
    	title: {
            display: true,
            text: 'Wykres danych chemicznych',
            fontSize: 18,
            fontColor: '#000000'
        },
        legend: {
    		display: false
    	},
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom',
                scaleLabel: {
        			display: true,
        			labelString: 'Stężenie Na + K w [mol/kg] H2O wyliczone z soli',
        			fontSize: 14,
            		fontColor: '#000000',
            		fontStyle: "bold",
      			},
      			ticks: {
      				min: 0,
      				max: 8
      			},
      			gridLines: {
  					color: "#000000",
  					zeroLineColor: "#000000",
  					zeroLineWidth: 3
				}
            }],
            yAxes: [{
                scaleLabel: {
        			display: true,
        			labelString: 'Stężenie Ca + Mg w [mol/kg] H2O wyliczone z soli',
        			fontSize: 14,
            		fontColor: '#000000',
            		fontStyle: "bold",
      			},
      			ticks: {
      				min: 0,
      				max: 7
      			},
      			gridLines: {
  					color: "#000000",
  					zeroLineColor: "#000000",
  					zeroLineWidth: 3
				}
            }]
        }
    }
});
</script>
<script>
new Chart(document.getElementById("isotope-chart"), {
  type: 'scatter',
 data: {
        datasets: [{
            label: 'Scatter Dataset',
            data: [
            {% for point in delta %}
            {
                x: {{point.x}},
                y: {{point.y}},

            },
            {% endfor %}
            ],
            borderColor: "#000000",
            backgroundColor: "#FF0000",
        }]
    },
    options: {
    	title: {
            display: true,
            text: 'Wykres danych izotopwych',
            fontSize: 18,
            fontColor: '#000000'
        },
    	legend: {
    		display: false
    	},
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom',
                scaleLabel: {
        			display: true,
        			labelString: 'δ18O [%] SMOW',
        			fontSize: 14,
            		fontColor: '#000000',
            		fontStyle: "bold",
      			},
      			ticks: {
      				min: -10,
      				max: 10
      			},
      			gridLines: {
  					color: "#000000",
  					zeroLineColor: "#000000"
				}
            }],
            yAxes: [{
                scaleLabel: {
        			display: true,
        			labelString: 'δ2H SMOW',
        			fontSize: 14,
            		fontColor: '#000000',
            		fontStyle: "bold",
      			},
      			ticks: {
      				min: -90,
      				max: 10
      			},
      			gridLines: {
  					color: "#000000",
  					zeroLineColor: "#000000"
				}
            }]
        }
    }
});
</script>
{% endif %}

{% endblock %}
