<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<title>EZ System</title>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
	</head>
	<body>
	<div>
		<form method="POST" action="/">
			<table class="table" style="width:30%">
				<thead>
					<tr>
						<div>
							<b>&nbsp; Edit Sample &nbsp; </b>
							<input type="submit" value="Save new values">&nbsp;
		{% if edited %}		<span class="badge badge-success">Values Saved!</span>	{% endif %}
						</div>
					</tr>
					<tr>
						<th>#</th>
						<th>Column</th>
						<th>Value ?</th>
					</tr>
				</thead>
  				<tbody>
  				  <tr>
					  <td>1</td>
					  <td>nr_zjawiska</td>
					  <td><input type="text" name="nr_zjawiska" value="{{samples[0].nr_zjawiska}}"></td>
  				  </tr>
				  <tr>
					  <td>2</td>
					  <td>poziom</td>
					  <td><input type="text" name="poziom" value="{{samples[0].poziom}}"></td>
  				  </tr>
				  <tr>
					  <td>3</td>
					  <td>nr_probki</td>
					  <td><input type="text" name="nr_probki" value="{{samples[0].nr_probki}}"></td>
  				  </tr>
				  <tr>
					  <td>4</td>
					  <td>data_pobrania</td>
					  <td><input type="text" name="data_pobrania" value="{{samples[0].data_pobrania}}"></td>
  				  </tr>
				  <tr>
					  <td>5</td>
					  <td>gestosc</td>
					  <td><input type="text" name="gestosc" value="{{samples[0].gestosc}}"></td>
  				  </tr>
				  <tr>
					  <td>6</td>
					  <td>ph</td>
					  <td><input type="text" name="ph" value="{{samples[0].ph}}"></td>
  				  </tr>
				  <tr>
					  <td>7</td>
					  <td>K+</td>
					  <td><input type="text" name="K" value="{{samples[0].K}}"></td>
  				  </tr>
				  <tr>
					  <td>8</td>
					  <td>Ca++</td>
					  <td><input type="text" name="Ca" value="{{samples[0].Ca}}"></td>
  				  </tr>
				  <tr>
					  <td>9</td>
					  <td>Mg++</td>
					  <td><input type="text" name="Mg" value="{{samples[0].Mg}}"></td>
  				  </tr>
				  <tr>
					  <td>10</td>
					  <td>Br-</td>
					  <td><input type="text" name="Br" value="{{samples[0].Br}}"></td>
  				  </tr>
				  <tr>
					  <td>11</td>
					  <td>Cl-</td>
					  <td><input type="text" name="Cl" value="{{samples[0].Cl}}"></td>
  				  </tr>
				  <tr>
					  <td>12</td>
					  <td>CaO</td>
					  <td><input type="text" name="CaO" value="{{samples[0].CaO}}"></td>
  				  </tr>
				  <tr>
					  <td>13</td>
					  <td>MgO</td>
					  <td><input type="text" name="MgO" value="{{samples[0].MgO}}"></td>
  				  </tr>
				  <tr>
					  <td>14</td>
					  <td>SO3--</td>
					  <td><input type="text" name="SO3" value="{{samples[0].SO3}}"></td>
  				  </tr>
				  <tr>
					  <td>15</td>
					  <td>SO4--</td>
					  <td><input type="text" name="SO4" value="{{samples[0].SO4}}"></td>
  				  </tr>
				  <tr>
					  <td>16</td>
					  <td>KBr</td>
					  <td><input type="text" name="KBr" value="{{samples[0].KBr}}"></td>
  				  </tr>
				  <tr>
					  <td>17</td>
					  <td>CaSO4</td>
					  <td><input type="text" name="CaSO4" value="{{samples[0].CaSO4}}"></td>
  				  </tr>
				  <tr>
					  <td>18</td>
					  <td>MgSO4</td>
					  <td><input type="text" name="MgSO4" value="{{samples[0].MgSO4}}"></td>
  				  </tr>
				  <tr>
					  <td>19</td>
					  <td>KCl</td>
					  <td><input type="text" name="KCl" value="{{samples[0].KCl}}"></td>
  				  </tr>
				  <tr>
					  <td>20</td>
					  <td>NaCl</td>
					  <td><input type="text" name="NaCl" value="{{samples[0].NaCl}}"></td>
  				  </tr>
				  <tr>
					  <td>21</td>
					  <td>CaCl2</td>
					  <td><input type="text" name="CaCl2" value="{{samples[0].CaCl2}}"></td>
  				  </tr>
				  <tr>
					  <td>22</td>
					  <td>MgCl2</td>
					  <td><input type="text" name="MgCl2" value="{{samples[0].MgCl2}}"></td>
  				  </tr>
				  <tr>
					  <td>23</td>
					  <td>NaBr</td>
					  <td><input type="text" name="NaBr" value="{{samples[0].NaBr}}"></td>
  				  </tr>
  				</tbody>
			</table>
			<input type="hidden" name="id" id="id" value="{{samples[0].id}}">
		</form>
	</div>
	</body>
</html>
