{% extends 'layout.html' %}

{% block body %}
<div class="page-header" style="margin: 30px">
	<h2></br></h2>
	<h1>O aplikacji</h1>
	<div>
		<p>Aplikacja służy do przeglądania i wyszukiwania wyników pomiarowych poziomu zasolenia w kopalni soli w Kłodawie.</p>
	</div>
	<h2></br></h2>
	<h2></br></h2>
	<h1>Ważne informacje</h1>
	<div>
		<p>Jeśli widzisz tę stronę to znaczy, że prawdopodobnie wszystko działa prawidłowo.</p>
		<p>W przypadku, gdy tylko część podstron działa należy skonsultować się mailowo, można to zrobić za pomocą ikonki na górnym pasku nawigacyjnym po prawej stronie.</p>
		<p>W przypadku, gdy nie pokazują się wyniki, należy skopiować plik <b><i>data.db</i></b> zawierający odpowiedni zrzut bazy danych do katalogu z projektem.</p>
		<p>Należy pamiętać o częstym robieniu kopii zapasowej pliku <b><i>data.db</i></b>, który zawiera bazę danych ze wszystkimi wynikami pomiarów.</p>
	</div>
</div>
{% endblock %}
