{% extends 'layout.html' %}

{% block body %}
<div class="page-header" style="margin: 30px">
	<h2></br></h2>
    <h1>Zaimportuj dane</h1>
    <span>Plik <b>NIE</b> może zawierać polskich znaków w kodzie próbki, a także w nazwie. Plik musi mieć rozszerzenie .xls.</span></br>
    <span>Po zaimportowaniu zostanie otwarty formularz, w którym można wprowadzić datę poboru, a także nr zjawiska i poziom pobrania.</span>
    <span>Plik powinien zawierać dane z poprawek.</span>
    </br></br>
   <form method=post action="import" enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Importuj>
    </form>
	<h2></br></h2>
</div>
{% endblock %}
