{% extends 'layout.html' %}

{% block body %}
	<div>
		<table class="table">
  			<thead>
  			  <tr>
				  <th scope="col">#</th>
				  <th scope="col">nr_zjawiska</th>
				  <th scope="col">poziom</th>
				  <th scope="col">nr_probki</th>
				  <th scope="col">data_pobrania</th>
				  <th scope="col">gestosc</th>
				  <th scope="col">ph</th>
				  <th scope="col">K+</th>
				  <th scope="col">Ca++</th>
				  <th scope="col">Mg++</th>
				  <th scope="col">Br-</th>
				  <th scope="col">Cl-</th>
				  <th scope="col">CaO</th>
				  <th scope="col">MgO</th>
				  <th scope="col">SO3--</th>
				  <th scope="col">SO4--</th>
				  <th scope="col">KBr</th>
				  <th scope="col">CaSO4</th>
				  <th scope="col">MgSO4</th>
				  <th scope="col">KCl</th>
				  <th scope="col">NaCl</th>
				  <th scope="col">CaCl2</th>
				  <th scope="col">MgCl2</th>
  			  </tr>
  			</thead>
  			<tbody>
  			  <tr>
				  <th scope="row">1</th>
				  <td>48</td>
				  <td>538</td>
				  <td>2010</td>
				  <td>91-04-23</td>
				  <td>1,206</td>
				  <td></td>
				  <td>1,87</td>
				  <td>1,76</td>
				  <td>1,56</td>
				  <td>0,099</td>
				  <td>92,98</td>
				  <td></td>
				  <td></td>
				  <td></td>
				  <td>5,18</td>
				  <td>0,3</td>
				  <td>5,98</td>
				  <td>1,2</td>
				  <td>3,38</td>
				  <td>308,99</td>
				  <td></td>
				  <td>5,17</td>
  			  </tr>
  			</tbody>
		</table>
	</div>
{% endblock %}
