{% extends 'layout.html' %}

{% block body %}
	<div>
		<table class="tableFixHead">
  			<thead class="thead-dark">
			  <tr>
				  <td><a href="/addIsotope"> <b>+ Dodaj nowe dane izotopowe</b></a></td>
			  </tr>
  			  <tr>
				  <th scope="col" class="nr_kopalni">Nr kopalni</th>
				  <th scope="col" class="nr_zjawiska">Nr zjawiska</th>
				  <th scope="col" class="poziom">poziom</th>
				  <th scope="col" class="data_poboru">Data poboru</th>
				  <th scope="col" class="camg">CaMg</th>
				  <th scope="col" class="nak">NaK</th>
				  <th scope="col" class="d18o">δ18O [%] SMOW</th>
				  <th scope="col" class="dd">δD [%] SMOW</th>
				  <th scope="col" >Edytuj</th>
  			  </tr>
  			</thead>
  			<tbody>
			  {% for isotope in isotopes %}
  			  <tr>
				  <td class="nr_probki">{{isotope.nr_probki}}</td>
				  <td class="nr_zjawiska"><a href="/isotopesEvent/{{isotope.nr_zjawiska}}">{{isotope.nr_zjawiska}}</a></td>
				  <td class="poziom"><a href="/isotopesLevel/{{isotope.poziom}}">{{isotope.poziom}}</a></td>
				  <td class="data_poboru">{{isotope.data_poboru}}</td>
				  <td class="camg">{{isotope.camg}}</td>
				  <td class="nak">{{isotope.nak}}</td>
				  <td class="d18o">{{isotope.d18o}}</td>
				  <td class="dd">{{isotope.dd}}</td>
				  <td> <a href="/editIsotope/{{isotope.id}}"><img src="{{ url_for('static', filename = 'editIcon.png') }}"  width="50%" height="50%"/></a></td>
  			  </tr>
			  {% endfor %}
  			</tbody>
		</table>
	</div>

{% endblock %}
