{% extends 'layout.html' %}

{% block body %}
	<div>
		<table>
			<tr>
				<td><a href="/addIsotope"> <b>+ Dodaj nowe dane izotopowe</b></a></td>
			</tr>
			<tr>
				<td><form action="/exportIsotope" method="POST"><input type="hidden" name="level" value="{{level}}"> Wyeksportuj dane do arkusza .xls <input type="hidden" name="event" value="{{event}}"><input type="submit" value="Wyeksportuj"></form> </td>
			</tr>
		</table>
		<table class="tableFixHead" id="sampleTable">
  			<thead class="thead-dark">
  			  <tr>
				  <th scope="col" onclick="sortTable(0)" class="nr_kopalni">Nr kopalni</th>
				  <th scope="col" onclick="sortTable(1)" class="nr_zjawiska">Nr zjawiska</th>
				  <th scope="col" onclick="sortTable(2)" class="poziom">poziom</th>
				  <th scope="col" onclick="sortTable(3)" class="data_poboru">Data poboru</th>
				  <th scope="col" onclick="sortTable(4)" class="camg">CaMg</th>
				  <th scope="col" onclick="sortTable(5)" class="nak">NaK</th>
				  <th scope="col" onclick="sortTable(6)" class="d18o">δ18O [%] SMOW</th>
				  <th scope="col" onclick="sortTable(7)" class="dd">δD [%] SMOW</th>
				  <th scope="col" >Edytuj</th>
  			  </tr>
  			</thead>
  			<tbody>
			  {% for isotope in isotopes %}
  			  <tr>
				  <td class="nr_probki">{{isotope.nr_probki}}</td>
				  <td class="nr_zjawiska"><a href="/isotopesEvent/{{isotope.nr_zjawiska}}">{{isotope.nr_zjawiska}}</a></td>
				  <td class="poziom"><a href="/isotopesLevel/{{isotope.poziom}}">{{isotope.poziom}}</a></td>
				  <td class="data_poboru">{{isotope.data_poboru}}</td>
				  <td class="camg">{{isotope.camg}}</td>
				  <td class="nak">{{isotope.nak}}</td>
				  <td class="d18o">{{isotope.d18o}}</td>
				  <td class="dd">{{isotope.dd}}</td>
				  <td> <a href="/editIsotope/{{isotope.id}}"><img src="{{ url_for('static', filename = 'editIcon.png') }}"  width="50%" height="50%"/></a></td>
  			  </tr>
			  {% endfor %}
  			</tbody>
		</table>
	</div>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("sampleTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>


{% endblock %}
