<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<title>EZ System</title>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
	</head>
	<body>
	<div>
		<table class="table">
  			<thead>
  			  <tr>
				  <th scope="col">nr_zjawiska</th>
				  <th scope="col">poziom</th>
				  <th scope="col">nr_probki</th>
				  <th scope="col">data_pobrania</th>
				  <th scope="col">gestosc</th>
				  <th scope="col">ph</th>
				  <th scope="col">K+</th>
				  <th scope="col">Ca++</th>
				  <th scope="col">Mg++</th>
				  <th scope="col">Br-</th>
				  <th scope="col">Cl-</th>
				  <th scope="col">CaO</th>
				  <th scope="col">MgO</th>
				  <th scope="col">SO3--</th>
				  <th scope="col">SO4--</th>
				  <th scope="col">KBr</th>
				  <th scope="col">CaSO4</th>
				  <th scope="col">MgSO4</th>
				  <th scope="col">KCl</th>
				  <th scope="col">NaCl</th>
				  <th scope="col">CaCl2</th>
				  <th scope="col">MgCl2</th>
				  <th scope="col">NaBr</th>
  			  </tr>
  			</thead>
  			<tbody>
			  {% for sample in samples %}
  			  <tr>
				  <td>{{sample.nr_zjawiska}}</td>
				  <td>{{sample.poziom}}</td>
				  <td>{{sample.nr_probki}}</td>
				  <td>{{sample.data_pobrania}}</td>
				  <td>{{sample.gestosc}}</td>
				  <td>{{sample.ph}}</td>
				  <td>{{sample.K}}</td>
				  <td>{{sample.Ca}}</td>
				  <td>{{sample.Mg}}</td>
				  <td>{{sample.Br}}</td>
				  <td>{{sample.Cl}}</td>
				  <td>{{sample.CaO}}</td>
				  <td>{{sample.MgO}}</td>
				  <td>{{sample.SO3}}</td>
				  <td>{{sample.SO4}}</td>
				  <td>{{sample.KBr}}</td>
				  <td>{{sample.CaSO4}}</td>
				  <td>{{sample.MgSO4}}</td>
				  <td>{{sample.KCl}}</td>
				  <td>{{sample.NaCl}}</td>
				  <td>{{sample.CaCl2}}</td>
				  <td>{{sample.MgCl2}}</td>
				  <td>{{sample.NaBr}}</td>
  			  </tr>
			  {% endfor %}
  			</tbody>
		</table>
	</div>
	</body>
</html>
