{% extends 'layout.html' %}

{% block body %}
	<div>
		<table>
			<tr>
				<td><a href="/addSample"> <b>+ Dodaj nowe dane pomiarowe </b></a> lub <a href="/import"><b> + Importuj nowe dane z arkusza .xls</b></a> </td>
			</tr>
			<tr>
				<td><form action="/exportSample" method="POST"><input type="hidden" name="level" value="{{level}}"> Wyeksportuj dane do arkusza .xls <input type="hidden" name="event" value="{{event}}"><input type="submit" value="Wyeksportuj"></form> </td>
			</tr>
		</table>
		<table class="tableFixHead" id="sampleTable">
  			<thead class="thead-dark">
  			  <tr>
				  <th scope="col" onclick="sortTable(0)" class="nr_zjawiska">nr_zjawiska</th>
				  <th scope="col" onclick="sortTable(1)" class="poziom">poziom</th>
				  <th scope="col" onclick="sortTable(2)" class="nr_probki">nr_probki</th>
				  <th scope="col" onclick="sortTable(3)" class="data_pobrania">data_pobrania</th>
				  <th scope="col" onclick="sortTable(4)" class="gestosc">gęstosc</th>
				  <th scope="col" onclick="sortTable(5)" class="ph">ph</th>
				  <th scope="col" onclick="sortTable(6)" class="k">K+</th>
				  <th scope="col" onclick="sortTable(7)" class="ca">Ca++</th>
				  <th scope="col" onclick="sortTable(8)" class="mg">Mg++</th>
				  <th scope="col" onclick="sortTable(9)" class="br">Br-</th>
				  <th scope="col" onclick="sortTable(10)" class="cl">Cl-</th>
				  <th scope="col" onclick="sortTable(11)" class="Na">Na</th>
				  <th scope="col" onclick="sortTable(12)" class="cao">CaO</th>
				  <th scope="col" onclick="sortTable(13)" class="mgo">MgO</th>
				  <th scope="col" onclick="sortTable(14)" class="so3">SO3--</th>
				  <th scope="col" onclick="sortTable(15)" class="so4">SO4--</th>
				  <th scope="col" onclick="sortTable(16)" class="kbr">KBr</th>
				  <th scope="col" onclick="sortTable(17)" class="caso4">CaSO4</th>
				  <th scope="col" onclick="sortTable(18)" class="mgso4">MgSO4</th>
				  <th scope="col" onclick="sortTable(19)" class="kcl">KCl</th>
				  <th scope="col" onclick="sortTable(20)" class="nacl">NaCl</th>
				  <th scope="col" onclick="sortTable(21)" class="cacl2">CaCl2</th>
				  <th scope="col" onclick="sortTable(22)" class="mgcl2">MgCl2</th>
				  <th scope="col" onclick="sortTable(23)" class="nabr">NaBr</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(24)" class="stezenie_roztworu_z_soli">Stężenie</br>z soli</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(25)" class="stezenie_roztworu_z_jonow">Stężenie</br>z jonów</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(26)" class="stezenie_roztworu_w_h2o_z_soli" data-toggle="tooltip" data-placement="top" title="Stężenie roztworu w H20 wyliczone z soli">w H2O</br>z soli</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(27)" class="stezenie_roztoworu_w_h2o_z_jonow" data-toggle="tooltip" data-placement="top" title="Stężenie roztworu w H20 wyliczone z jonów">w H2O</br>z jonów</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(28)" class="stezenie_ca_mg_w_h2o_z_soli" data-toggle="tooltip" data-placement="top" title="Stężenie Ca+Mg w H20 wyliczone z soli">Ca+Mg</br>z soli</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(29)" class="steznie_na_k_w_h2o_z_soli" data-toggle="tooltip" data-placement="top" title="Stężenie Na+K w H20 wyliczone z soli">Na+K</br>z soli</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(30)" class="steznie_na_k_ca_mg_w_h2o_z_soli" data-toggle="tooltip" data-placement="top" title="Stężenie Na+K+Ca+Mg w H20 wyliczone z soli">Na+K+Ca+Mg</br>z soli</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(31)" class="poprawka_na_tlen_z_soli" data-toggle="tooltip" data-placement="top" title="Poprawka na tlen wyliczona z soli">P. tlen</br>z soli</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(32)" class="poprawka_na_tlen_z_jonow" data-toggle="tooltip" data-placement="top" title="Poprawka na tlen wyliczona z jonów">P. tlen</br>z jonów</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(33)" class="poprawka_na_deuter_z_soli" data-toggle="tooltip" data-placement="top" title="Poprawka na deuter wyliczona z soli">P. deuter</br>z soli</th>
				  <th style="min-width: 100px" scope="col" onclick="sortTable(34)" class="poprawka_na_deuter_z_jonow" data-toggle="tooltip" data-placement="top" title="Poprawka na deuter wyliczona z jonów">P. deuter</br>z jonów</th>
				  <th scope="col" >Edytuj</th>
  			  </tr>
  			</thead>
  			<tbody>
			  {% for sample in samples %}
  			  <tr>
				  <td class="nr_zjawiska"><a href="/event/{{sample.nr_zjawiska}}">{{sample.nr_zjawiska}}</a></td>
				  <td class="poziom"><a href="/level/{{sample.poziom}}">{{sample.poziom}}</a></td>
				  <td class="nr_probki">{{sample.nr_probki}}</td>
				  <td class="data_pobrania">{{sample.data_pobrania}}</td>
				  <td class="gestosc">{{sample.gestosc}}</td>
				  <td class="ph">{{sample.ph}}</td>
				  <td class="k">{{sample.K}}</td>
				  <td class="ca">{{sample.Ca}}</td>
				  <td class="mg">{{sample.Mg}}</td>
				  <td class="br">{{sample.Br}}</td>
				  <td class="cl">{{sample.Cl}}</td>
				  <td class="na">{{sample.Na}}</td>
				  <td class="cao">{{sample.CaO}}</td>
				  <td class="mgo">{{sample.MgO}}</td>
				  <td class="so3">{{sample.SO3}}</td>
				  <td class="so4">{{sample.SO4}}</td>
				  <td class="kbr">{{sample.KBr}}</td>
				  <td class="caso4">{{sample.CaSO4}}</td>
				  <td class="mgso4">{{sample.MgSO4}}</td>
				  <td class="kcl">{{sample.KCl}}</td>
				  <td class="nacl">{{sample.NaCl}}</td>
				  <td class="cacl2">{{sample.CaCl2}}</td>
				  <td class="mgcl2">{{sample.MgCl2}}</td>
				  <td class="nabr">{{sample.NaBr}}</td>
				  <td style="min-width: 100px" class="stezenie_roztworu_z_soli">{{(sample.stezenie_roztworu_z_soli|float)|round(2)}}</td>
				  <td style="min-width: 100px" class="stezenie_roztworu_z_jonow">{{(sample.stezenie_roztworu_z_jonow|float)|round(2)}}</td>
				  <td style="min-width: 100px" class="stezenie_roztworu_w_h2o_z_soli">{{(sample.stezenie_roztworu_w_h2o_z_soli|float)|round(2)}}</td>
				  <td style="min-width: 100px" class="stezenie_roztoworu_w_h2o_z_jonow">{{(sample.stezenie_roztoworu_w_h2o_z_jonow|float)|round(2)}}</td>
				  <td style="min-width: 100px" class="stezenie_ca_mg_w_h2o_z_soli">{{(sample.stezenie_ca_mg_w_h2o_z_soli|float)|round(2)}}</td>
				  <td style="min-width: 100px" class="steznie_na_k_w_h2o_z_soli">{{(sample.steznie_na_k_w_h2o_z_soli|float)|round(2)}}</td>
				  <td style="min-width: 100px" class="steznie_na_k_ca_mg_w_h2o_z_soli">{{(sample.steznie_na_k_ca_mg_w_h2o_z_soli|float)|round(2)}}</td>
				  <td style="min-width: 100px" class="poprawka_na_tlen_z_soli">{{(sample.poprawka_na_tlen_z_soli|float)|round(2)}}</td>
				  <td style="min-width: 100px" class="poprawka_na_tlen_z_jonow">{{(sample.poprawka_na_tlen_z_jonow|float)|round(2)}}</td>
				  <td style="min-width: 100px" class="poprawka_na_deuter_z_soli">{{(sample.poprawka_na_deuter_z_soli|float)|round(2)}}</td>
				  <td style="min-width: 100px" class="poprawka_na_deuter_z_jonow">{{(sample.poprawka_na_deuter_z_jonow|float)|round(2)}}</td>
				  <td> <a href="/editSample/{{sample.id}}"><img src="{{ url_for('static', filename = 'editIcon.png') }}"  width="24px" height="24px"/></a></td>
  			  </tr>
			  {% endfor %}
  			</tbody>
		</table>
	</div>
		<script>
$(document).ready(function(){
	{% for key, value in config.items() %}
		{% if value=='False' %}
			elements = document.getElementsByClassName("{{key}}");
			for (let el of elements) el.style.display = "none";
		{% endif %}
	{% endfor %}
})
		</script>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("sampleTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock %}
